<!-- <div class="modal fade in" style="display: block" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">{{buttonTxt}} Machine</h4>
                <button type="button" (click)="closePopUp()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fa fa-user prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" for="orangeForm-name">ProductType ID</label>                    
               <select class="form-control" [ngModel]="selectedTyeId" (change)="selectmachine($event)">
                <option *ngFor="let item of typeList" [value]="item.productTypeId">
                  {{item.productTypeName}}
                </option>
              </select>

                </div>
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Product Name</label>
                    <input type="email" id="orangeForm-email" [(ngModel)]="machine.productName" class="form-control validate" required>
                  
                </div>
                <div class="md-form mb-5">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" for="orangeForm-email">Serial Number</label>
                    <input type="email" [(ngModel)]="machine.serialNumber" class="form-control validate" required>
                    
                </div>
                <div class="md-form mb-4">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <label data-error="wrong" data-success="right" for="orangeForm-pass">Image</label>
                    <input type="file" id="orangeForm-pass" [(ngModel)]="machine.imageLocation" class="form-control validate">
                    
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button (click)="savemachine()" class="btn btn-deep-orange">{{buttonTxt}}</button>
            </div>
        </div>
    </div>
</div> -->

<div>
    <div class="row">
        <div class="col col-md-12">
            <mat-toolbar-row>
                <div class="col col-md-12 text-center">
                    <span>
                        <h5>{{buttonTxt}} Machine</h5>
                    </span>
                </div>
            </mat-toolbar-row>
        </div>
    </div>


    <form [formGroup]="formMachine">
        <mat-toolbar>
            <mat-toolbar-row></mat-toolbar-row>
            <mat-toolbar-row>
                <mat-form-field>
                    <input matInput type="text" formControlName="productName" [(ngModel)]="machine.productName" placeholder="Machine Name ">
                </mat-form-field>
                <mat-error>
                    <span *ngIf="!formMachine.controls['productName'].valid && formMachine.controls['productName'].touched">
                        *
                    </span>
                </mat-error>
            </mat-toolbar-row>

            <mat-toolbar-row>
                <mat-form-field>
                    <input matInput formControlName="serialNumber" placeholder="Serial Number" [(ngModel)]="machine.serialNumber">
                </mat-form-field>
                <mat-error>
                    <span *ngIf="formMachine.controls['serialNumber'].hasError('required') && formMachine.controls['serialNumber'].touched">
                        *
                    </span>
                </mat-error>
            </mat-toolbar-row>
            <mat-toolbar-row>
                            <input id="img" (change)="generateImageAndShow($event)" type="file">
            </mat-toolbar-row>
            <mat-toolbar-row>
                    <div *ngIf="imgsrc" style="height:100px; width: 100px; padding-top: 20px;">
                            <img [src]="imgsrc" />
                          </div>   
                          <br>
                          <br>
            </mat-toolbar-row>

            <!-- <mat-toolbar-row>
                <mat-form-field>
                    <input matInput formControlName="notes" formControlName="notes" [(ngModel)]="machine.notes" placeholder="Notes">
                </mat-form-field>
            </mat-toolbar-row> -->

            <!-- <mat-toolbar-row>
                <div class="row" style="width: 100%; padding-left: 20px;">
                    <div class="col col-md-12">
                        <div class="col-md-12 pt-2 col-sm-12" style="text-align:center; border:1px solid #ccc; margin-bottom:12px;">
                            OR
                        </div>
                    </div>
                </div>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <div class="col col-md-12" style="width: 100%; padding-top: 20px; padding-left: 0px; font-size:18px;">
                     Extract Serial # from image
                    <div class="col col-md-12">
                        <input class="mat-toolbar-row" type="file" formControlName="imageLocation" value="Upload Image" (change)="onImageUpload($event)" placeholder="upload image">
                    </div>
                </div>
                <div *ngIf="machine.imageLocation" style="height: 100px; width: 100px; padding-top: 30px">
                    <img [src]="machine.imageLocation">
                </div>
            </mat-toolbar-row> -->



        </mat-toolbar>
        <mat-toolbar-row>
            <div class="col col-lg-12" style="padding-top: 20px;">
                <div class="col col-lg-12 pull-right">
                    <button mat-raised-button class="mat-raised-button mat-accent custom-color" color="primary" (click)="closePopUp()">Close</button>
                    &nbsp;&nbsp;
                    <button mat-raised-button class="mat-raised-button mat-accent custom-color" color="primary" [disabled]="!formMachine.valid"
                        (click)="savemachine()">Save</button>
                </div>
            </div>
        </mat-toolbar-row>
    </form>
</div>